body,
html{
	width:100%;
	height:100%;
   background: url(ev.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



h1{
	font-size: 3rem;
	color:black; 
}

hr {
 background-color:#353535;
 border-width:3px;
 max-width:65px;

} 


.buffer{
	height: 5rem;
}


.btn{
	font-weight:700;
	border-radius: 300px;
	text-transform:uppercase;
}

.btn-info{
	background-color:#353535;
	border-color:#353535;

}

.btn-info:hover{
	background-color:#696969;
	border-color:#696969;
		border-width: 4px;  

}


.btn-xl{
	padding:1rem 3rem;   
}